# Good Reads
GOOD_READS_USER_ID=user_id
GOOD_READS_API_KEY=12345
GOOD_READS_API_SECRET=12345

# Twitter
TWITTER_CONSUMER_KEY=12345
TWITTER_CONSUMER_SECRET=12345
TWITTER_ACCESS_TOKEN=12345
TWITTER_ACCESS_TOKEN_SECRET=12345

# Last FM
LAST_FM_USER_NAME=user_name
LAST_FM_PASSWORD=password
LAST_FM_API_KEY=12345
LAST_FM_API_SECRET=12345