.image_list_title {
  margin-bottom: 10px;
}

.image_list {
  .image_list_item {
    margin: 12px;

    .image_list_image {
      height: 50px;
      line-height: 50px;
      float: left;

      img {
        height: 40px;
        vertical-align: middle;
      }
    }

    .content {
      text-align: left;
      float: left;
      margin: 0;
      font-size: 0.8em;
      padding: 3px;
      padding-left: 15px;
    }
  }
}

.updated-at {
  color: rgba(0, 0, 0, 0.3);
}