<% content_for :title do %>Meditation<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="headspace_average_duration" data-view="Graph" style="background-color:#f47d31;" data-title="Average Duration of Session" data-moreinfo="minutes"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="headspace_number_sessions" data-view="Graph" style="background-color:#f47d31;" data-title="Total Number of Sessions"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="headspace_total_time" data-view="Graph" style="background-color:#f47d31;" data-title="Total Duration of Sessions" data-moreinfo="minutes"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="headspace_total_time" data-view="Graph" style="background-color:#f47d31;" data-title="Total Duration of Sessions" data-moreinfo="minutes"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="2">
      <div data-id="headspace_courses" style="background-color:#f47d31;" data-view="ImageList" data-title="Meditation Courses"></div>
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="headspace_current_streak" data-view="Graph" style="background-color:#f47d31;" data-title="Current Streak" data-moreinfo="days"></div>
    </li>

    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="headspace_longest_streak" data-view="Graph" style="background-color:#f47d31;" data-title="Longest Streak" data-moreinfo="days"></div>
    </li>
  </ul>
<div>