<% content_for :title do %>Social Media<% end %>
<div class="gridster">
  <ul>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="twitter_followers_count" data-view="Graph" style="background-color:#00ACED;" data-title="Follower Count"></div>
      <i class="icon-twitter icon-background"></i>
    </li>
  </ul>
<div>